<h1>Food Information </h1>
{{#if isAdmin }}
<p>Como Ud. es Administrador podrá ver la tabla siguiente </p>
<div class="container mt-4">
<table class="table" > 
      <thead>
        <tr>
          <th scope="col">Campo</th>
          <th scope="col">Valor</th>
        </tr>
      </thead>
      <tbody>
        {{#each food}}
        <tr>
          
          <td>{{this.name}}</td>
          
          <td>{{this.price}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
    <p>Sin acceso permitido</p>
    {{/if}}
</div>